<!DOCTYPE html>
<html>
  <head>
    <%- include partials/_head %>
  </head>
  <body>
    <nav class="navbar navbar-light">
    	  	<h1 class="bigtext">Plentyful <i class="fa fa-leaf" aria-hidden="true"></i><a href="/login" class="btn btn-info pull-right admin" >admin</a><h1>
    </nav>
    <div class="container-fluid">
    	<div class="row">
    		<div class="big-div">
    			<header id="big-picture">
    			</header>
  			</div>
  			<div class="food-place col-md-8 col-sm-12">
					<main>
						<div class="row">
							<section class="dish-type" id="entrees">
								<h2>Entrées</h2>
								<% dishes.entrees.forEach((dish) => { %>
								<div class="menu-item col-md-3 col-md-offset-1" data-id="<%= dish.id %>" data-price="<%= dish.price %>">
									<header><img class="img-responsive" src="<%= dish.image_url %>"></header>
									<p class="menu-item-title"><%= dish.name %></p>
									<main>
										<span class="price">$<%= dish.price %></span>
										<div class="pull-right">
											<i class="fa fa-minus-circle" aria-hidden="true"></i>
											<span class="itemqty">0</span>
											<i class="fa fa-plus-circle" aria-hidden="true"></i>
										</div>
									</main>
								</div>
								<% }) %>
							</section>
						</div>

					<row class="row">
						<section class="dish-type" id="desserts">
							<h2>Desserts</h2>
							<% dishes.desserts.forEach((dish) => { %>
								<div class="menu-item col-md-3 col-md-offset-1" data-id="<%= dish.id %>" data-price="<%= dish.price %>">
									<header><img class="img-responsive" src="<%= dish.image_url %>"></header>
									<p class="menu-item-title"><%= dish.name %></p>
									<main>
									<span class="price">$ <%= dish.price %></span>
									<div class="pull-right">
											<i class="fa fa-minus-circle" aria-hidden="true"></i>
											<span class="itemqty">0</span>
											<i class="fa fa-plus-circle" aria-hidden="true"></i>
									</div>
									</main>
								</div>
							<% }) %>
						</section>
					</row>

					<row class="row">
						<section class="dish-type" id="beverages">
							<h2>Beverages</h2>
								<% dishes.beverages.forEach((dish) => { %>
								<div class="menu-item col-md-3 col-md-offset-1" data-id="<%= dish.id %>" data-price="<%= dish.price %>">
									<header><img class="img-responsive" src="<%= dish.image_url %>"></header>
									<p class="menu-item-title"><%= dish.name %></p>
									<main>
									<span class="price">$ <%= dish.price %></span>
									<div class="pull-right">
											<i class="fa fa-minus-circle" aria-hidden="true"></i>
											<span class="itemqty">0</span>
											<i class="fa fa-plus-circle" aria-hidden="true"></i>
									</div>
									</main>
								</div>
							<% }) %>
						</section>
					</row>

					</main>
    		</div>
    		<div class="col-md-3 col-md-offset-1 col-sm-12 sidebar col-xs-12">
    			<aside>
					<div class="cart-title">
						<p class="text-center cart-title"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Your order</p>
					</div>
					<div class="order-menu">
						<ul class="cart-items">
						</ul>
						<div class="order-actions">
							<p>Total price: CAD <span class="total-price">0</span></p>
							<button class="place-order-btn btn btn-primary">continue</button>
							<div class="user-info-section">
							<form class="user-info">
								<input class="form-control"type="text" name="name" placeholder="name">
								<input class="form-control" type="text" name="phone" placeholder="phone #">
								<input class="btn btn-primary" type="submit" value="Finalize order">
							</form>
							</div>
						</div>
					</div>
    			</aside>
    		</div>
    	</div>
    	<footer>Developed by Bruno Farias and Michael Mansourati </footer>
    </div>
    <%- include partials/_foot %>
  </body>
</html>
